{{#if tasks}}
<table class="table table-bordered table-hover" style="background-color: #15727A; width: 100%;">
    <thead>
        <tr style="font-size: x-small; color:beige;text-align: center;">
            <th>N.</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>volumen</th>
            <th>Editorial</th>
            <th>Cantidad</th>
            <th>Fecha de entrada</th>
            <th>Operaciones</th>

        </tr>
    </thead>
    <tbody>
  {{#each tasks}}
  <tr style="font-size: small; color: darkgrey; text-align: center">
    <td>{{@index}}</td>
    <td>{{title}}</td>
    <td>{{autor}}</td>
    <td>{{volumen}}</td>
    <td>{{editorial}}</td>
    <td>{{date}} </td>
    <td>{{entrada}} </td>
    <td style="text-align: center;">
    <button style="background-color: #45596C;border-radius: 3px; "> <a href="/delete/{{_id}}" style="color: white;"><i class="bi bi-trash3-fill"></i> ELIMINAR</a> </button>
    <button style="background-color: #45596C;border-radius: 3px;" > <a href="/edit/{{_id}}" style="color: white;"><i class="bi bi-pencil-square"></i> EDITAR</a></button>
    </td>
  </tr>
 
  {{/each}}
</tbody>
</table>

 {{else}}
      <div class="text-center ">
        <h1>
          No Hay Tareas 
        </h1>
        <img src="/src/img/fondo 1.png" alt="" srcset="">
      </div>
{{/if}}
